.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.img-wrapper {
  position: fixed;
  background-color: #282c34;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-wrapper input {
  height: 50px;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  max-width: 250px;
  margin: 10px;
}

.form-wrapper button {
  font-size: 20px;
  padding: 10px;
  background: #d1d1d1;
  border-radius: 5px;
  margin: 10px;
}
span {
  font-size: 8px;
  white-space: pre-wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
